<% content_for(:title, "Life Lessons") %>

<h1>All Your Life Lessons</h1>

<ul>
  <% @lessons.each do |lesson| %>
  <li><%= link_to lesson.name, lesson_path(lesson) %></li>
  <% end %>
</ul>

<% content_for(:footer) do %>
<li><%= link_to "New Lesson", new_lesson_path %></li>
<% end %>
